<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node">
        <param name="traffic_light_is_close" value="100.0" />        
        <param name="create_ground_truth" value="False" />        
        <param name="ground_truth_dir" value="real_data_gt" />        
        <param name="ground_truth_start_number" value="1" />        
        <param name="is_simulator" value="False" />        
        <param name="SVC_PATH" value="$(find tl_detector)/svc_real.p" />
        <param name="FCN_PATH" value="$(find tl_detector)/../../fcn" />
    </node>        
</launch>
